<div class="home-container">
 <div class="content">
    <div class="title">
      <h1 style="font-size: xxx-large; color: aliceblue;">SUNMASS PHARMACY</h1>
      <div></div>
      <h2 style="color: aliceblue; padding-left: 20vh; ">~ Your health, Our care ~</h2>
    </div>
    <div class="button-container">
        <button mat-raised-button color="primary" (click)="loginClicked()">Login</button>
        <button mat-raised-button color="accent" (click)="registerClicked()">Register</button>
    </div>
 </div>
</div>
  
